body {
    
    color: white;
    background-color: midnightblue;
}

h1 {
    text-align: center;
    border: solid;
    margin: 75px 500px;
    padding: 50px;
}

h2 {
    text-align: center;
    font-size: 50px;
    width: 50%;
    padding: 5px;
    margin: auto;
    margin-bottom: 5em;
    border-width: 10px;
    border: solid;
    color: mediumturquoise;
    background-color: indigo;
}

h3 {
    text-align: center;
    font-size: 30px;
    width: 30%;
    padding: 5px;
    margin: auto;
    margin-bottom: 1em;
    border-width: 10px;
    border: solid;
    color: mediumturquoise;
    background-color: indigo;
}

h4 {
    text-align: center;
    font-size: 30px;
    width: 15%;
    padding: 5px;
    margin: auto;
    margin-bottom: 1em;
    border: solid;
    color: mediumturquoise;
    background-color: indigo;
}

table {
    font-size: 30px;
    margin: auto;
    margin-bottom: 5em;
    text-align: center;
    padding: 25px;
    background-color: rgb(141, 6, 6);
    width: 50%;
    border: solid;
    color: rgb(32, 147, 182);
}

th, td {
    padding: 10px;
    border: solid;

}

p {
    margin: auto;
    margin-bottom: 5em;
    padding: 15px;
    font-size: 30px;
    text-align: center;
}

a {
    color: black;
}

.nav-style {
    margin: 0 20%;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    border: solid;
    color: cadetblue;
    background-color: rgb(141, 6, 6);
}